	body{color:#3b6e81;font-size:12px;font-family:Verdana, Geneva, sans-serif;line-height:23px;
	margin:0;padding:0;background:url(../Images/login/login_bg.jpg);}

.second_body{margin:0 auto;width:330px;height:243px; position:relative;
	margin-top:10%;padding-left:300px;padding-top:110px;
	background:url(../Images/login/login_panel.png) no-repeat;}

.title-zh{position:absolute;top:50px;left:278px;font-size:24px;font-weight:900;color:#0074a6;}

.title-en{position:absolute;top:70px;left:278px;color:#9aa5a9;}

 .message{position:absolute;bottom:80px;left:312px;color:red;}

.logo{position:absolute;left:15px;top:110px;}
.logo img{width: 261px;height: 74px;}

.product-logo {position:absolute;left: 400px;bottom: 10px;}

.login,.login2{width:200px;border:1px solid #7fb5c1;height:22px;vertical-align:text-bottom;}
.login2{width:125px;}

.login_button,.reset_botton{width:58px;height:26px;line-height:26px;border:none;color:#FFF;
	font-weight:bold;background:url(../Images/login/login1.jpg);margin-left:15px;}
.reset_botton{background:url(../Images/login/reset.jpg);}