<script>
     $(function () {
         $("#resource-div").toggleClass('hidden');
     });
 </script>
<div id="resource-div" class="easyui-panel hidden" data-options="fit:true,border:false">
    <div class="easyui-tabs" data-options="fit:true,border:false,plain:false,tabPosition:'left'">
        <div title="菜单" href="~/Auth/Auth/Menu"   />
        <div title="按钮" href="~/Auth/Auth/Button"   />
    </div>
</div>